<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/cubing-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/build.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        tr:nth-child(even) {
            background-color: #e5e5e5;
        }
        th {
            font-weight: normal;
            padding: 2px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <nav class="w-screen fixed flex items-center p-6 py-4 text-neutral-600 shadow-md">
        <a href="/" class="font-medium text-lg text-blue-700 mr-10">Australian State/Territory Speedcubing Rankings</a>
        <a href="/" class="mr-6 hover:underline">Rankings</a>
        <a href="/faq" class="hover:underline">FAQ</a>
        <div class="ml-auto">
            {% if session['user'] %}
            <a href="/preferences" class="flex items-center space-x-3 hover:underline">
                <img class="object-cover h-8 w-8 rounded-full" src="{{session['user']['avatar']}}">
                <p>{{session['user']['name']}}</p>
            </a>
            {% else %}
            <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=-dBHer2N8UaYuk0qxjmNhT7xlpXM4I5UsZCLEGf7cfQ&redirect_uri=/account-redirect%3FredirectUrl%3D%2F&response_type=code&scope=" class="flex items-center space-x-2 text-sm p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                <img height="20px" width="20px" src="https://www.worldcubeassociation.org/files/WCAlogo_notext.svg">
                <p>Log in</p>
            </a>
            {% endif %}
        </div>
    </nav>
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="text-neutral-600 w-2/3">
            <h1 class="text-2xl font-bold mb-3">FAQ</h1>
            <h2 class="text-lg font-semibold">Why can't I see my results?</h2>
            <p>The WCA doesn't record your state/territory of residence, so you must log in to this site if you wish to see
            your state ranking. Some results are added by admins, but if you don't see yourself and expected to, please <a class="underline" href="/login">log in</a>.</p>
            <br>
            <h2 class="text-lg font-semibold">How do I change my state/territory?</h2>
            <p>If you have moved to a different state/territory, you can update your residence in <a class="underline" href="/preferences">user preferences</a>.</p>
            <br>
            <h2 class="text-lg font-semibold">I live in Australia but do not represent the country on my WCA profile. How can I be added to the rankings?</h2>
            <p>Currently you can only record your state residence if you have Australia listed as your country in the WCA. However, if you live in Australia, please <a class="underline" href="mailto:william.herring.au@gmail.com">
                send me an email
            </a> and I will add you to the rankings.</p>
            <br>
            <h2 class="text-lg font-semibold">Why aren't the results up to date?</h2>
            <p>To avoid querying the WCA database on every visit, results are updated every Wednesday. Generally, this will mean that results will be updated pretty soon after a competition's
            results are uploaded to the WCA database. If not, don't stress; they will update soon.</p>
            <br>
            <h2 class="text-lg font-semibold">How can I help?</h2>
            <p>This site is completely open-source. If you have any suggestions or improvements and are familiar with Flask, check out the <a class="underline" href="https://github.com/william-herring/ausstaterankings">GitHub repository</a>.</p>
        </div>
    </div>
    <div class="p-6 text-neutral-600 flex space-x-4 justify-end absolute bottom-0 w-screen bg-red">
        <p>© William Herring 2023</p>
        <a class="hover:underline" href="https://github.com/william-herring/ausstaterankings">GitHub</a>
    </div>
</body>
</html>