<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rankings</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/cubing-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/build.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        tr:nth-child(even) {
            background-color: #e5e5e5;
        }
        th {
            font-weight: normal;
            padding: 8px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <nav class="w-screen fixed flex items-center p-6 py-4 text-neutral-600 shadow-md">
        <a href="/" class="font-medium text-lg text-blue-700 mr-10">Australian State/Territory Speedcubing Rankings</a>
        <a href="/" class="mr-6 hover:underline">Rankings</a>
        <a href="/faq" class="hover:underline">FAQ</a>
        <div class="ml-auto">
            {% if session['user'] %}
            <a href="/preferences" class="flex items-center space-x-3 hover:underline">
                <img class="object-cover h-8 w-8 rounded-full" src="{{session['user']['avatar']}}">
                <p>{{session['user']['name']}}</p>
            </a>
            {% else %}
            <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=-dBHer2N8UaYuk0qxjmNhT7xlpXM4I5UsZCLEGf7cfQ&redirect_uri=https://ausstaterankings.onrender.com/account-redirect%3FredirectUrl%3D%2F&response_type=code&scope=" class="flex items-center space-x-2 text-sm p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                <img height="20px" width="20px" src="https://www.worldcubeassociation.org/files/WCAlogo_notext.svg">
                <p>Log in</p>
            </a>
            {% endif %}
        </div>
    </nav>
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="w-2/3">
            <label class="text-neutral-600">State/Territory:</label>
            <select class="p-2 text-sm text-neutral-600 shadow-sm border-2 rounded-lg hover:bg-neutral-200" id="state" name="state" onchange="
            var params = new URLSearchParams(location.search);
            params.set('state', this.value);
            window.location.search = params.toString();">
                <option {% if state == 'nsw' %}selected{% endif %} value="nsw">New South Wales</option>
                <option {% if state == 'vic' %}selected{% endif %} value="vic">Victoria</option>
                <option {% if state == 'qld' %}selected{% endif %} value="qld">Queensland</option>
                <option {% if state == 'wa' %}selected{% endif %} value="wa">Western Australia</option>
                <option {% if state == 'sa' %}selected{% endif %} value="sa">South Australia</option>
                <option {% if state == 'tas' %}selected{% endif %} value="tas">Tasmania</option>
                <option {% if state == 'act' %}selected{% endif %} value="act">Australian Capital Territory</option>
                <option {% if state == 'nt' %}selected{% endif %} value="nt">Northern Territory</option>
            </select>
            <div class="flex text-neutral-500 text-2xl space-x-3 mb-3">
            {% for event in ['333', '222', '444', '555', '666', '777', '333fm', '333oh', 'clock', 'minx', 'pyram', 'skewb', 'sq1', '333bf', '444bf', '555bf'] %}
                <button class="{{ 'text-black' if request.args.get('event') == event or request.args.get('event') == None and event == '333' else 'hover:text-neutral-400'}}" onclick="
                var params = new URLSearchParams(location.search);
                params.set('event', '{{event}}');
                window.location.search = params.toString();">
                    <span class="cubing-icon event-{{ event }}"></span>
                </button>
            {% endfor %}
            </div>
            <div class="flex space-x-3 mb-3">
                <div class="flex">
                    <button class="p-2 text-sm text-white {{ 'bg-blue-600' if request.args.get('result_type') == 'average' else 'bg-blue-700' }} shadow-sm rounded-l-lg hover:bg-blue-700" onclick="
                    var params = new URLSearchParams(location.search);
                    params.set('result_type', 'single');
                    window.location.search = params.toString();">
                        Single
                    </button>
                    <button class="p-2 text-sm text-white {{ 'bg-blue-600' if request.args.get('result_type') == 'single' or request.args.get('result_type') == None else 'bg-blue-700' }} shadow-sm rounded-r-lg hover:bg-blue-700" onclick="
                    var params = new URLSearchParams(location.search);
                    params.set('result_type', 'average');
                    window.location.search = params.toString();">
                        Average
                    </button>
                </div>
            </div>
            <table class="w-full text-left">
                <tr>
                    <th class="font-bold">#</th>
                    <th class="font-bold">Name</th>
                    <th class="font-bold">Result</th>
                </tr>
                {% if request.args.get('event') == '333fm' and request.args.get('result_type') != 'average' %}
                    {% for result in rankings %}
                        <tr class="font-normal">
                            <th>{{result['rank']}}</th>
                            <th class="text-orange-700"><a href="https://www.worldcubeassociation.org/persons/{{result['wca_id']}}">{{result['name']}}</a></th>
                            <th>{{ result['time']|int }}</th>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for result in rankings %}
                        <tr class="font-normal">
                            <th>{{result['rank']}}</th>
                            <th class="text-orange-700"><a href="https://www.worldcubeassociation.org/persons/{{result['wca_id']}}">{{result['name']}}</a></th>
                            <th>{{ "%.2f"|format(result['time'] * 0.01) if result['time'] * 0.01 < 60 else (result['time'] * 0.01 / 60)|round(0, 'floor')|int ~ ':' ~ "%.2f"|format((result['time'] * 0.01 / 60 % 1 * 60)) }}</th>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    <div class="p-6 text-neutral-600 flex space-x-4 justify-end absolute bottom-0 w-screen bg-red">
        <p>© William Herring 2023</p>
        <a class="hover:underline" href="https://github.com/william-herring/ausstaterankings">GitHub</a>
    </div>
</body>
</html>
