<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rankings</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/cubing-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/build.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        body {
            overflow-x: hidden;
        }
        tr:nth-child(even) {
            background-color: #0f172a;
        }
        th {
            font-weight: normal;
            padding: 8px;
            font-size: 14px;
        }
    </style>
</head>
<body class="bg-slate-900 text-white">
    <nav class="w-screen z-50 bg-slate-900 flex sticky top-0 items-center justify-center px-10 py-4 text-neutral-200">
        <a href="/" class="mr-6 hover:underline">Rankings</a>
        <a href="/faq" class="mr-6 hover:underline">FAQ</a>
        <a href="/about" class="hover:underline">About</a>
        <div class="ml-auto">
            {% if session['user'] %}
            <a href="/preferences" class="flex items-center space-x-3 hover:underline">
                <img class="object-cover h-8 w-8 rounded-full" src="{{session['user']['avatar']}}">
                <p>{{session['user']['name']}}</p>
            </a>
            {% else %}
            <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=-dBHer2N8UaYuk0qxjmNhT7xlpXM4I5UsZCLEGf7cfQ&redirect_uri=https%3A%2F%2Fausstaterankings.onrender.com%2Faccount-redirect&response_type=code&scope=" class="flex items-center font-semibold text-sm p-3 bg-emerald-600 rounded-lg hover:bg-emerald-700">
                <img class="mr-3" height="20px" width="20px" src="https://assets.worldcubeassociation.org/assets/1dc28f5/packs/static/components/StaticPages/LogoImages/WCA%20Logo%20Only%20Positive%20Primary-de8bfbd9d4fde40ccc22.svg">
                <p>Log in</p>
            </a>
            {% endif %}
        </div>
    </nav>
    <div class="flex flex-col mt-16 px-16">
        <div class="">
            <select class="p-2 text-sm text-neutral-600 shadow-sm border-2 rounded-lg mb-3 hover:bg-neutral-200" id="state" name="state" onchange="
            var params = new URLSearchParams(location.search);
            params.set('state', this.value);
            window.location.search = params.toString();">
                <option {% if state == 'nsw' %}selected{% endif %} value="nsw">New South Wales</option>
                <option {% if state == 'vic' %}selected{% endif %} value="vic">Victoria</option>
                <option {% if state == 'qld' %}selected{% endif %} value="qld">Queensland</option>
                <option {% if state == 'wa' %}selected{% endif %} value="wa">Western Australia</option>
                <option {% if state == 'sa' %}selected{% endif %} value="sa">South Australia</option>
                <option {% if state == 'tas' %}selected{% endif %} value="tas">Tasmania</option>
                <option {% if state == 'act' %}selected{% endif %} value="act">Australian Capital Territory</option>
                <option {% if state == 'nt' %}selected{% endif %} value="nt">Northern Territory</option>
            </select>
            <div class="flex text-2xl space-x-3 mb-3">
            {% for event in ['333', '222', '444', '555', '666', '777', '333fm', '333oh', 'clock', 'minx', 'pyram', 'skewb', 'sq1', '333bf', '444bf', '555bf'] %}
                <button class="{{ 'opacity-100' if request.args.get('event') == event or request.args.get('event') == None and event == '333' else 'opacity-30 hover:opacity-60'}}" onclick="
                var params = new URLSearchParams(location.search);
                params.set('event', '{{event}}');
                window.location.search = params.toString();">
                    <span class="cubing-icon event-{{ event }}"></span>
                </button>
            {% endfor %}
            </div>
            <div class="flex space-x-3 font-semibold mb-6">
                <div class="flex">
                    <button class="p-2 text-sm text-white {{ 'bg-emerald-600' if request.args.get('result_type') == 'average' else 'bg-emerald-700' }} shadow-sm rounded-l-lg hover:bg-emerald-700" onclick="
                    var params = new URLSearchParams(location.search);
                    params.set('result_type', 'single');
                    window.location.search = params.toString();">
                        Single
                    </button>
                    <button class="p-2 text-sm text-white {{ 'bg-emerald-600' if request.args.get('result_type') == 'single' or request.args.get('result_type') == None else 'bg-emerald-700' }} shadow-sm rounded-r-lg hover:bg-emerald-700" onclick="
                    var params = new URLSearchParams(location.search);
                    params.set('result_type', 'average');
                    window.location.search = params.toString();">
                        Average
                    </button>
                </div>
            </div>
            <table class="w-full text-left bg-slate-800 rounded-lg">
                <tr>
                    <th class="font-bold">#</th>
                    <th class="font-bold">Name</th>
                    <th class="font-bold">Result</th>
                </tr>
                {% if request.args.get('event') == '333fm' and request.args.get('result_type') != 'average' %}
                    {% for result in rankings %}
                        <tr class="font-normal">
                            <th>{{result['rank']}}</th>
                            <th class="hover:underline"><a href="/person/{{result['wca_id']}}">{{result['name']}}</a></th>
                            <th>{{ result['time']|int }}</th>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for result in rankings %}
                        <tr class="font-normal">
                            <th>{{result['rank']}}</th>
                            <th class="hover:underline"><a href="/person/{{result['wca_id']}}">{{result['name']}}</a></th>
                            <th>{{ "%.2f"|format(result['time'] * 0.01) if result['time'] * 0.01 < 60 else (result['time'] * 0.01 / 60)|round(0, 'floor')|int ~ ':' ~ "%.2f"|format((result['time'] * 0.01 / 60 % 1 * 60)) }}</th>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</body>
</html>
