<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manual Entry Interface</title>
</head>
<body>
<form action="">
  <input type="text" name="wca_id">
  <select name="state">
    <option value="nsw">New South Wales</option>
    <option value="vic">Victoria</option>
    <option value="qld">Queensland</option>
    <option value="wa">Western Australia</option>
    <option value="sa">South Australia</option>
    <option value="tas">Tasmania</option>
    <option value="act">Australian Capital Territory</option>
    <option value="nt">Northern Territory</option>
  </select>
  <input type="submit">
</form>
</body>
</html>