<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Preferences</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/cubing-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/build.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='src/js/prefs.js') }}"></script>
</head>
<body class="bg-slate-900 text-white">
    <nav class="w-screen z-50 bg-slate-900 flex sticky top-0 items-center justify-center px-10 py-4 text-neutral-200">
        <a href="/" class="mr-6 hover:underline">Rankings</a>
        <a href="/faq" class="mr-6 hover:underline">FAQ</a>
        <a href="/about" class="hover:underline">About</a>
        <div class="ml-auto">
            {% if session['user'] %}
            <a href="/preferences" class="flex items-center space-x-3 hover:underline">
                <img class="object-cover h-8 w-8 rounded-full" src="{{session['user']['avatar']}}">
                <p>{{session['user']['name']}}</p>
            </a>
            {% else %}
            <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=-dBHer2N8UaYuk0qxjmNhT7xlpXM4I5UsZCLEGf7cfQ&redirect_uri=https://ausstaterankings.onrender.com/account-redirect%3FredirectUrl%3D%2F&response_type=code&scope=" class="flex items-center space-x-2 text-sm p-2 bg-neutral-200 rounded-full hover:bg-neutral-300">
                <img height="20px" width="20px" src="https://assets.worldcubeassociation.org/assets/1dc28f5/packs/static/components/StaticPages/LogoImages/WCA%20Logo%20Only%20Positive%20Primary-de8bfbd9d4fde40ccc22.svg">
                <p>Log in</p>
            </a>
            {% endif %}
        </div>
    </nav>
    <div class="flex flex-col fixed p-10">
        <div>
            <h1 class="text-2xl font-bold mb-4">Preferences</h1>
            {% if session['user']['country'] == 'AU' and session['user']['wca_id'] %}
            <a href="https://www.worldcubeassociation.org/persons/{{session['user']['wca_id']}}" class="flex justify-center p-4 bg-slate-800 mb-4 rounded-lg hover:bg-slate-700 items-center text-lg font-semibold">
                <img class="mr-2" width="40px" src="https://assets.worldcubeassociation.org/assets/1dc28f5/packs/static/components/StaticPages/LogoImages/WCA%20Logo%20Only%20Positive%20Primary-de8bfbd9d4fde40ccc22.svg">
                {{session['user']['name']}}
                ({{session['user']['wca_id']}})
            </a>

            <form id="prefsForm">
                <label class="text-lg" for="state">Residing in:</label>
                <select class="text-lg mb-4 bg-slate-800 p-2 ml-2 hover:cursor-pointer" id="state" name="state">
                    <option value="" disabled {% if state == None %}selected{% endif %} hidden>Select state/territory</option>
                    <option {% if state == 'nsw' %}selected{% endif %} value="nsw">New South Wales</option>
                    <option {% if state == 'vic' %}selected{% endif %} value="vic">Victoria</option>
                    <option {% if state == 'qld' %}selected{% endif %} value="qld">Queensland</option>
                    <option {% if state == 'wa' %}selected{% endif %} value="wa">Western Australia</option>
                    <option {% if state == 'sa' %}selected{% endif %} value="sa">South Australia</option>
                    <option {% if state == 'tas' %}selected{% endif %} value="tas">Tasmania</option>
                    <option {% if state == 'act' %}selected{% endif %} value="act">Australian Capital Territory</option>
                    <option {% if state == 'nt' %}selected{% endif %} value="nt">Northern Territory</option>
                </select>
                <button type="submit" class="flex items-center text-md p-2 bg-emerald-600 text-white rounded-lg hover:bg-emerald-700 hover:cursor-pointer">Update preferences</button>
            </form>
            <div id="messageBox"></div>
            {% else %}
            Only users with a WCA ID and their nationality listed as Australian can edit their preferences. If you reside in Australia but represent another country, you can <a class="text-blue-700" href="mailto:william.herring.au@gmail.com">email me</a> to be added to the database.
            {% endif %}
        </div>
    </div>
</body>
</html>