<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{person.name}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/cubing-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/build.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        body {
            overflow-x: hidden;
        }
        tr:nth-child(even) {
            background-color: #0f172a;
        }
        th {
            font-weight: normal;
            padding: 8px;
            font-size: 14px;
        }
    </style>
</head>
<body class="bg-slate-900 text-white">
    <nav class="w-screen z-50 bg-slate-900 flex sticky top-0 items-center justify-center px-10 py-4 text-neutral-200">
        <a href="/" class="mr-6 hover:underline">Rankings</a>
        <a href="/faq" class="mr-6 hover:underline">FAQ</a>
        <a href="/about" class="hover:underline">About</a>
        <div class="ml-auto">
            {% if session['user'] %}
            <a href="/preferences" class="flex items-center space-x-3 hover:underline">
                <img class="object-cover h-8 w-8 rounded-full" src="{{session['user']['avatar']}}">
                <p>{{session['user']['name']}}</p>
            </a>
            {% else %}
            <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=-dBHer2N8UaYuk0qxjmNhT7xlpXM4I5UsZCLEGf7cfQ&redirect_uri=https://ausstaterankings.onrender.com/account-redirect%3FredirectUrl%3D%2F&response_type=code&scope=" class="flex items-center font-semibold text-sm p-3 bg-emerald-600 rounded-lg hover:bg-emerald-700">
                <img class="mr-3" height="20px" width="20px" src="https://assets.worldcubeassociation.org/assets/1dc28f5/packs/static/components/StaticPages/LogoImages/WCA%20Logo%20Only%20Positive%20Primary-de8bfbd9d4fde40ccc22.svg">
                <p>Log in</p>
            </a>
            {% endif %}
        </div>
    </nav>
    <div class="flex flex-col h-screen w-screen pt-12 px-16 items-center">
        <div class="flex items-center justify-center">
            <h1 class="text-4xl mr-3">{{person.name}}</h1>
            <a href="https://www.worldcubeassociation.org/persons/{{person.wca_id}}">
                <img height="38px" width="38px" src="https://assets.worldcubeassociation.org/assets/1dc28f5/packs/static/components/StaticPages/LogoImages/WCA%20Logo%20Only%20Positive%20Primary-de8bfbd9d4fde40ccc22.svg">
            </a>
        </div>
        <img class="h-1/4 my-6" src="{{ person.avatar | replace('_thumb','') if person.avatar else 'https://assets.worldcubeassociation.org/assets/4b2103d/assets/missing_avatar_thumb-d77f478a307a91a9d4a083ad197012a391d5410f6dd26cb0b0e3118a5de71438.png' }}">
        <div class="flex items-center justify-center mb-6">
            <div class="flex items-center justify-center space-x-2">
                <img src="https://flagsapi.com/{{person.country}}/flat/32.png">
                <p>
                {% if person.state == 'nsw' %}New South Wales{% endif %}
                {% if person.state == 'vic' %}Victoria{% endif %}
                {% if person.state == 'qld' %}Queensland{% endif %}
                {% if person.state == 'wa' %}Western Australia{% endif %}
                {% if person.state == 'sa' %}South Australia{% endif %}
                {% if person.state == 'tas' %}Tasmania{% endif %}
                {% if person.state == 'act' %}Australian Capital Territory{% endif %}
                {% if person.state == 'nt' %}Northern Territory{% endif %}
                </p>
            </div>
            {% if is_admin %}
                <div class="bg-blue-500 p-2 rounded-lg text-center text-sm ml-4">
                    <p>Administrator</p>
                </div>
            {% endif %}
        </div>
        <table class="w-full text-left bg-slate-800 rounded-lg">
            <tr>
                <th class="font-bold">Event</th>
                <th class="font-bold">SR</th>
                <th class="font-bold">Single</th>
                <th class="font-bold">Average</th>
                <th class="font-bold">SR</th>
            </tr>
            {% for result in person.results %}
                <tr class="font-normal">
                    <th><span class="cubing-icon event-{{ result.event }}"></span></th>
                    <th>{{rankings[result.event][0]}}</th>
                    {% if result.event == "333fm" %}
                    <th>{{ result.single|int }}</th>
                    {% else %}
                    <th>{{ "%.2f"|format(result.single * 0.01) if result.single * 0.01 < 60 else (result.single * 0.01 / 60)|round(0, 'floor')|int ~ ':' ~ "%.2f"|format((result.single * 0.01 / 60 % 1 * 60)) }}</th>
                    {% endif %}
                    {% if result.average %}
                    <th>{{ "%.2f"|format(result.average * 0.01) if result.average * 0.01 < 60 else (result.average * 0.01 / 60)|round(0, 'floor')|int ~ ':' ~ "%.2f"|format((result.average * 0.01 / 60 % 1 * 60)) }}</th>
                    <th>{{rankings[result.event][1]}}</th>
                    {% else %}
                    <th></th>
                    <th></th>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>